[submodule "server-tools"]
	path = server-tools
	url = git@github.com:Vauxoo/server-tools.git
	branch = 13.0
[submodule "c4smart"]
	path = c4smart
	url = git@git.vauxoo.com:vauxoo/c4smart.git
	branch = 13.0
[submodule "vendor-bills"]
	path = vendor-bills
	url = git@git.vauxoo.com:vauxoo/vendor-bills.git
	branch = 13.0
